<h2 id="current">Ročník 2025</h2>

<h3>
    <strong>Registrace: </strong> ukončeny
</h3>

<h3><strong>Termín: </strong> 3. – 5. října 2025</h3>

<h3><strong>Místo: </strong> Hotel Antoň (viz. <a href="#mapCanvas" class="scroll">mapa</a>)</h3>
<p>Letos nás pohostí <a href="https://www.hotel-anton.cz/" target="_blank">hotel Antoň</a>, v Telči.</p>

<h3>Live stream:</h3>

<div style="text-align: center; margin-bottom: 2em;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Q0HYdEaGw4?si=c2LRBfZi54rmXm5q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div style="text-align: center; margin-bottom: 2em;">
<table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 90%;">
    <thead style="background-color: black; color: white;">
    <tr>
        <th>Čas</th>
        <th>Jméno</th>
        <th>Přednáška</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>14:00 - 14:15</td><td>Jan Vondrouš</td><td>🎤 Jízda na spotřebu</td></tr>
    <tr><td>14:15 - 14:30</td><td>Pavel Kříž</td><td>🎤 ESPHome - DIY gadgety pro domácí automatizaci snadno a rychle</td></tr>
    <tr><td>14:30 - 14:45</td><td>Tomucha</td><td>🎤 Váš první shader</td></tr>
    <tr><td>14:45 - 15:00</td><td>dond</td><td>🎤 Jak se plánuje doprava</td></tr>
    <tr><td>15:00 - 15:15</td><td>Miloš Havránek</td><td>🎤 Renesance pirátění</td></tr>
    <tr><td>15:15 - 15:30</td><td>Daniel Crha</td><td>🎤 Hiring is Hard!</td></tr>
    <tr><td>15:30 - 15:45</td><td>Tomáš Janečka</td><td>🎤 The future is vibe-coding</td></tr>
    <tr><td>15:45 - 16:00</td><td>N/A</td><td>☕ PŘESTÁVKA</td></tr>
    <tr><td>16:00 - 16:15</td><td>Ivo Musil</td><td>🎤 Přibližné výpočty v dobách AI</td></tr>
    <tr><td>16:15 - 16:30</td><td>Filip Sedllák</td><td>🎤 Rekonstrukce domu z první republiky</td></tr>
    <tr><td>16:30 - 16:45</td><td>Vojtech Ruzicka</td><td>🎤 Orchestrace AI agentu s autogen</td></tr>
    <tr><td>16:45 - 17:00</td><td>Martin Dulák</td><td>🎤 Sometimes you should over-engineer it</td></tr>
    <tr><td>17:00 - 17:15</td><td>Petr Filip</td><td>🎤 Frontend-Backend integrace bez bolesti</td></tr>
    <tr><td>17:15 - 17:30</td><td>Filip Štaffa</td><td>🎤 Git Gud</td></tr>
    <tr><td>17:30 - 17:50</td><td>N/A</td><td>☕ PŘESTÁVKA</td></tr>
    <tr><td>17:50 - 18:05</td><td>Tomáš Karela Procházka</td><td>🎤 gRPC - Looking for magic</td></tr>
    <tr><td>18:05 - 18:20</td><td>Pavel Tomášek</td><td>Technologické bestie</td></tr>
    <tr><td>18:20 - 18:35</td><td>Pavel Jetenský</td><td>Simple guide to remote debugging</td></tr>
    <tr><td>18:35 - 18:50</td><td>Lukáš Vlček</td><td>🎤 Poznej svého narcise – Když spolupráce selže (Anatomie toxického chování)</td></tr>
    </tbody>
</table>
</div>

<h2 id="about">O co jde</h2>
<p>Říkáte si, co vlastně je jOpenSpace? Je to malá česká <a href="http://en.wikipedia.org/wiki/Unconference" target="_blank">ne-konference</a>
	jOpenSpace. Konference typu OpenSpace konference jsou specifické tím, že se jejich program dopředu
	příliš neplánuje. Mluví se zkrátka o tom, co účastníky zajímá. Nikdo není jen pasivním
	divákem, každý přispěje svou troškou do mlýna. Pokud vás zajímá více o tomto druhu "konferencí"
	podívejte se na <a href="http://media.libsyn.com/media/dickwall/OpenSpacesIntro.mov" target="_blank">slideshow</a>
	Bruce Eckela (anglicky).</p>
<p>Nápad uspořádat podobný typ konference i u nás se zrodil v hlavě Michala Šrajera
	(<a href="http://www.inmite.eu/" target="_blank">Inmite</a> - nyní <a href="http://www.avast.cz">AVAST</a>).
	Michal se do značné míry inspiroval velmi vyvedenou akcí <a href="http://www.mindviewinc.com/Conferences/JavaPosseRoundup/" target="_blank">JavaPosse Roundup</a>,
	která se už několikrát konala za velikou louží. Díky těmto začátkům je také v názvu akce písmeno "J", které stále
	navozuje pocit, že se jedná o Java konferenci - to ale dávno není pravda. V posledních ročnících se zaměřujeme
	i na obecnější vývojářská témata, která překračují hranice této platformy.</p>
<img src="public/images/gallery/2022/main.jpg" alt="Společné foto ročníku 2022" class="motive" />
<p>Doposud se uskutečnilo 15 ročníků na různých místech republiky a <strong>ročník 2025 je šestnáctý</strong>.
	První ročníky se odehrávaly
	v Jizerských horách, ve vinném sklípku poblíž Znojma, v Krkonoších nebo uprostřed
	Žďárských vrchů. Počet účastníků rok od roku narůstá. V roce 2016 nás bylo bezmála 42 a limit
	jsme si stanovili právě na maximum 42 účastníků, aby akce zůstala komorní a velmi osobní.

	Všechny nás spojuje zájem o vývoj aplikací a víkend trávíme debatami o technologiích, našich
	zkušenostech a aktuálních problémech. Kromě neformálních diskusí si každý z účastníků připraví
	krátkou přednášku na jím zvolené téma - typicky v rozsahu okolo 10 minut. To, že se jedná
	o zajímavé přednášky se můžete sami přesvědčit shlédnutím <a href="#media" class="scroll">video záznamů</a>.
</p>
<p>Od roku 2011 se může přihlásit kdokoliv, kdo má zájem se zúčastnit a v tomto trendu chceme pokračovat.</p>
<p>Pokud máte nějaké další dotazy, můžete kontaktovat organizátory na adresách:
	<br/><br/>
	<em><a href="mailto:vrablik@gmail.com">vrablik@gmail.com</a></em> nebo
	<em><a href="mailto:novotnaci@gmail.com">novotnaci@gmail.com</a></em>
</p>

<img src="public/images/gallery/2022/main1.jpg" alt="Úvodní představení účastníků" class="motiveNoMargin"/>
<img src="public/images/gallery/2022/main2.jpg" alt="Legendární ranní rozcvička" class="motiveNoMargin"/>
<img src="public/images/gallery/2022/main3.jpg" alt="Přednášející Víťa Plšek" class="motiveNoMargin"/>
<img src="public/images/gallery/2022/main4.jpg" alt="Večerní paralelní partička šachů" class="motiveNoMargin"/>
<img src="public/images/gallery/2022/main5.jpg" alt="Autoři vítězných přednášek s licencemi IntellJ Idea" class="motiveNoMargin"/>
