<h2 id="current">Ročník 2020</h2>

<h3>
		<strong>Registrace: </strong> 
		otevřeme na jaře 2020
</h3>

<h3><strong>Termín: </strong> 9. - 11. října 2020</h3>

<h3><strong>Místo: </strong> Hotel Antoň (viz. <a href="#mapCanvas" class="scroll">mapa</a>)</h3>
<p>Letos nás pohostí <a href="https://www.hotel-anton.cz/" target="_blank">hotel Antoň</a>, v Telči.</p>

<h2 id="about">O co jde</h2>
<p>Říkáte si, co vlastně je jOpenSpace? Je to malá česká <a href="http://en.wikipedia.org/wiki/Unconference" target="_blank">ne-konference</a>
	jOpenSpace. Konference typu OpenSpace konference jsou specifické tím, že se jejich program dopředu
	příliš neplánuje. Mluví se zkrátka o tom, co účastníky zajímá. Nikdo není jen pasivním
	divákem, každý přispěje svou troškou do mlýna. Pokud vás zajímá více o tomto druhu "konferencí"
	podívejte se na <a href="http://media.libsyn.com/media/dickwall/OpenSpacesIntro.mov" target="_blank">slideshow</a>
	Bruce Eckela (anglicky).</p>
<p>Nápad uspořádat podobný typ konference i u nás se zrodil v hlavě Michala Šrajera
	(<a href="http://www.inmite.eu/" target="_blank">Inmite</a> - nyní <a href="http://www.avast.cz">AVAST</a>).
	Michal se do značné míry inspiroval velmi vyvedenou akcí <a href="http://www.mindviewinc.com/Conferences/JavaPosseRoundup/" target="_blank">JavaPosse Roundup</a>,
	která se už několikrát konala za velikou louží. Díky těmto začátkům je také v názvu akce písmeno "J", které stále
	navozuje pocit, že se jedná o Java konferenci - to ale dávno není pravda. V posledních ročnících se zaměřujeme
	i na obecnější vývojářská témata, která překračují hranice této platformy.</p>
<img src="public/images/gallery/2018/main.jpg" alt="Společné foto ročníku 2018" class="motive" />
<p>Doposud se uskutečnilo 10 ročníků na různých místech republiky a letošní <strong>ročník je jedenáctý</strong>.
	První ročníky se odehrávaly
	v Jizerských horách, ve vinném sklípku poblíž Znojma, v Krkonoších nebo uprostřed
	Žďárských vrchů. Počet účastníků rok od roku narůstá. V roce 2016 nás bylo bezmála 42 a limit
	jsme si stanovili právě na maximum 42 účastníků, aby akce zůstala komorní a velmi osobní.
	
	Všechny nás spojuje zájem o vývoj aplikací a víkend trávíme debatami o technologiích, našich
	zkušenostech a aktuálních problémech. Kromě neformálních diskusí si každý z účastníků připraví
	krátkou přednášku na jím zvolené téma - typicky v rozsahu okolo 10 minut. To, že se jedná
	o zajímavé přednášky se můžete sami přesvědčit shlédnutím <a href="#media" class="scroll">video záznamů</a>.
</p>
<p>Od roku 2011 se může přihlásit kdokoliv, kdo má zájem se zúčastnit a v tomto trendu chceme pokračovat.</p>
<p>Pokud máte nějaké další dotazy, můžete kontaktovat organizátory na adresách:
	<br/><br/>
	<em><a href="mailto:vrablik@gmail.com">vrablik@gmail.com</a></em> nebo
	<em><a href="mailto:novotnaci@gmail.com">novotnaci@gmail.com</a></em>
</p>

<img src="public/images/gallery/2017/main1.jpg" alt="Přednášející Petr Ferschmann" class="motiveNoMargin"/>
<img src="public/images/gallery/2017/main2.jpg" alt="Pohled do publika" class="motiveNoMargin"/>
<img src="public/images/gallery/2017/main3.jpg" alt="Petr Hamerník vyhrává licenci JetBrains" class="motiveNoMargin"/>
<img src="public/images/gallery/2017/main4.jpg" alt="Networking" class="motiveNoMargin"/>
