<h2>Partneři 2026</h2>
<ul id="sponsors" style="height: 400px">
	<li>
		<p style="line-height: 2em; font-size: 150%">
			<b>Chcete být parnery ne-konference?</b>
			<br>
			<a href="http://jopenspace.cz/partneri">Přečtěte si nejčastější otázky a odpovědi</a><br/>a<br/>
			<a href="mailto:info@jopenspace.cz">kontaktujte nás</a>.
		</p>
    </li>
	<li>
		<a href="https://www.dativery.com/" target="_blank"><img src="public/images/sponsor/dativery.png" alt="Dativery"/></a>
		<div>
			<p>V Dativery pomáháme e-shopařům a účetním automatizovat procesy, protože zpracování dokladů musí být pouze
				okrajová záležitost a ne hlavní náplň pracovního dne.</p>
			<p>Umíme to zautomatizovat od přijetí platby po expedici!</p>
		</div>
	</li>
	<li>
		<a href="http://www.morosystems.cz" target="_blank"><img src="public/images/sponsor/morosystems.png?ver=2026-05-26" alt="Morosystems"/></a>
		<div>
			<p>Jsme lídři v dodávkách softwaru a technologických inovací pro banky a fintechy. Věříme, že nejlepší řešení vznikají díky spolupráci lidí a naším cílem je vytvářet prostředí, které spolupráci podněcuje.</p>
			<p>Propojením excelentní týmové práce, špičkových technologií a byznysového know how pomáháme firmám naplňovat jejich potenciál.</p>
			<p>Sledovat nás můžete na <a href="https://www.linkedin.com/company/morosystems/" target="_blank">LinkedIn</a> nebo na našem <a href="http://www.vsadnajavu.cz/" target="_blank">blogu</a>.</p>
		</div>
	</li>
	<li>
		<a href="https://sika.io"><img src="public/images/sponsor/ondrejsika.png" alt="Ondřej Šika" /></a>

		<div>
			<p>Ahoj, jsem Ondřej Šika a pomůžu Vám s DevOps. Školím, konzultuji a nastavuji ve firmách DevOps procesy
				a nástroje jako CI/CD, Kubernetes, Terraform, cloudy, ...</p>
		</div>
	</li>
</ul>
