<h2>Partneři roku 2023</h2>
<ul id="sponsors" style="height: 400px">
	<li>
		<a href="https://commity.cz/"><img src="public/images/sponsor/commity.png" alt="Commity" /></a>

		<div>
			<p>Jsme Commity.cz - parta vývojářů, která vzešla z komunity kolem Google Developer Group Jihlava.
				Těší nás práce na dlouhodobých projektech pro naše zákazníky, zároveň se snažíme přinášet na Vysočinu
				technologické vzdělávací akce a dávat prostor k zapojení novým vývojářům. Pojďte do toho s námi!</p>
		</div>
	</li>
	<li>
		<a href="https://www.fg.cz" target="_blank"><img src="public/images/sponsor/fg-logo-b.png" alt="FG Forrest, a.s."/></a>

		<p>Forresti patří mezi českou špičku webového vývoje. Není třeba mnoho slov - naše <a
				href="https://www.fg.cz/cs/reference/" target="_blank">práce mluví sama za
			sebe</a>. Děláme vše naplno -
			<a href="https://www.youtube.com/watch?v=rWLDsEoAuWw" target="_blank">pracujeme</a>,
			<a href="https://www.fg.cz/cs/klienti/prague-international-marathon"
			   target="_blank">sportujeme</a>,
			<a href="https://www.fg.cz/cs/deje-se/ze-zivota-forrestu" target="_blank">bavíme
				se</a> a
			<a href="http://www.nfzz.cz/nemocnice/85-nemocnice-strakonice/217-podekovani-fg-forrest.html"
			   target="_blank">pomáháme</a>, kde se dá.</p>

		<p>Pokud i ty chceš běžet s Forresty, napiš nám - není to tak těžké, stačí dobré srdce a
			zdravý rozum.</p>
	<li>
		<a href="https://search.jobs.barclays/barclays-prague"><img src="public/images/sponsor/barclays.png" alt="Barclays" /></a>

		<div>
			<p>Se 120 tisíci zaměstnanci a tradicí starší než 326 let je Barclays jedna z největších bankovních institucí
				světa. Za celou historii jsme přišli s mnoha revolučními myšlenkami, které změnily způsob, jakým lidé přemýšlí
				o svých financích. Ať už se jednalo o první kreditní kartu vydanou ve Velké Británii nebo první bankomat,
				vždy jsme se snažili posouvat hranice bankovnictví o kus vpřed.</p>
			<p>Naše pražské kanceláře jsou součástí technologické a provozní divize, která vynakládá maximum pro to,
				aby se držela na technologické špičce. Samozřejmě technologie není všespásná. Nejdůležitější je, aby
				vynalézavost tohoto oddělení přispěla ke zlepšení služeb banky klientům a zjednodušila život ostatním
				zaměstnancům naší společnosti.</p>
		</div>
	</li>
	<li>
		<a href="https://fnx.io/"><img src="public/images/sponsor/fnxio.svg" width="250px" alt="fnx.io" /></a>

		<div>
			<p>
				fnx.io je miniaturní vývojářské studio, které se nebojí velkých výzev. Nejraději vyrábíme specializované
				informační systémy, mobilní aplikace, prototypy, MVP. Dobře si rozumíme s technologiemi od Google.
			</p>
		</div>
	</li>
	<li>
		<a href="https://www.productboard.com/"><img src="public/images/sponsor/productboard.svg" width="250px" alt="Productboard" /></a>

		<div>
			<p>
				Productboard je platforma pro product management, který je zaměřený na zákazníka. Pomáhá organizacím
				rychleji dostat správné produkty na trh.
				Více jak 6000 společností napříč světem používá Productboard, aby lépe pochopili, co potřebují jejich
				zákazníci, lépe prioritizovali co postavit dál a měli společné porozumění proto co staví.
			</p>
			<p>
				Kanceláře máme v Praze, Brně, San Franciscu a Vancouveru a našimi investory jsou Dragoneer Investment
				Group, Tiger Global Management, Index Ventures, Kleiner Perkins, Sequoia Capital, Bessemer Venture
				Partners, and Credo Ventures.
			</p>
		</div>
	</li>
	<li>
		<a href="http://www.morosystems.cz" target="_blank"><img src="public/images/sponsor/morosystems.png" alt="Morosystems"/></a>
		<div>
			<p>Již od roku 2006 stavíme v MoroSystems inovativní řešení v oblasti informačních systémů. Věříme, že
				nejlepší řešení vznikají díky spolupráci lidí a naším cílem je vytvářet prostředí, které spolupráci
				podněcuje.</p>
			<p>Každému, kdo má zájem o novinky z vývoje nejen v Javě i život v MoroSystems doporučujeme přečíst si <a
					href="http://www.vsadnajavu.cz/" target="_blank">náš blog</a>.</p>
		</div>
	</li>
</ul>