<h2>Partneři</h2>
<ul id="sponsors">
	<li>
		<a href="http://www.aveco.com" target="_blank"><img src="public/images/sponsor/aveco_logo.png" alt="AVECO"/></a>

		<div>
			<p>Na více než dvou stovkách míst po celém světě pomáhá Aveco s vysíláním TV a
				rozhlasu. Naší doménou je správa multimediálního obsahu při vysílání, řízení
				náběru signálu, koordinace systémů mezi centrem a regiony a především studiová
				automatizace, ať už v klasickém odbavovacím pracovišti nebo ve zpravodajství.</p>
			<p>Používáme staré osvědčené technologie, jako je RTOS QNX, ve spojení s novinkami,
				kde to jen jde. Požadavky zákazníků nás nutí neustále hledat, jak stihnout víc
				práce a umožňují nám průběžně rozšiřovat tým vývojářů.</p>
		</div>
	</li>
	<!--<li>
		<a href="https://www.ysoft.com" target="_blank"><img src="images/sponsor/ysoft.png" alt="Y Soft"/></a>

		<div>
			<p>Y Soft přináší inteligentní tisková řešení pro malé, střední i velké mezinárodní
				společnosti ze všech segmentů trhu. Tiskové řešení YSoft SafeQ prokazatelně
				snižuje náklady na tisk, zefektivňuje práci a zvyšuje zabezpečení dokumentů.
				YSoft SafeQ dnes využívá přes 8 000 organizací ve více než 100 zemích světa.</p>
			<p>Unikátní 3D tiskárny be3D zase usnadňují výrobu prototypů a součástek. Y Soft
				celosvětově zaměstnává přes 285 zkušených profesionálů, z nichž 215 působí v
				Česku. Každoroční dvouciferný růst tržeb se stal pro Y Soft už tradicí. Přes 90
				% obratu přitom generuje v zahraničí. Hlavní sídlo Y Softu je v Brně, zahraniční
				zastoupení se nacházejí ve všech významných regionech Evropy, Ameriky, Asie i
				Austrálie.</p>
		</div>
	</li>-->
	<!--<li>
		<a href="http://www.zeebra.cz" target="_blank"><img src="images/sponsor/zeebra.png" alt="Zeebra"/></a>

		<div>
			<p>V Zeebře spojujeme chytré a nadané lidi z IT oblasti s firmami, které jsou schopné
				využít jejich potenciálu. Mezi naše klienty patří např. Top Monks, GoodData,
				Massive Interactive, Deutsche Boerse, Barclays a další.</p>

			<p>Podívejte se, jaké zajímavé pozice nyní nabízíme na
				<a href="https://www.zeebra.cz" target="_blank">www.zeebra.cz</a>.
				Připojte se k těm, kterým jsme již pomohli najít skvělou práci.</p>
		</div>
	</li>-->
	<!--<li>
		<a href="http://www.avast.com" target="_blank"><img src="images/sponsor/avast.png" alt="AVAST" /></a>

		<div>
			<p>Jsme jednou z vůbec nejúspěšnějších českých softwarových společností. Stojíme za
				celosvětově nejoblíbenějším antivirovým řešením pro počítače a výrazně se rozrůstáme
				také ve světě mobilních zařízení. Nejde už jen o chytání virů – vyvíjíme i další
				aplikace, které pomáhají lidem bez obav a pohodlně žít v dnešním digitálním světě.</p>

			<p>V Avastu řídíme business z Prahy, ale týmy máme po celém světě. Pořádáme hackathony
				i sportovní akce a jsme rádi, že skrze naši nadaci dokážeme i významně pomoct těm,
				kteří to potřebují nejvíce.</p>
		</div>
	</li>
	 -->
	<li>
		<a href="http://www.morosystems.cz" target="_blank"><img src="public/images/sponsor/morosystems.png?v=201507140905" alt="Morosystems"/></a>
		<div>
			<p>V MoroSystems jsme přesvědčeni o tom, že technologie, umění a věda vznikají
				nejlépe v kooperativním prostřední podněcujícím otevřenou diskusi, a proto
				takové prostředí vytváříme. Spojujeme nejtalentovanější a nejschopnější
				jednotlivce v oblasti informačních technologií.</p>
			<p>Společně pak dokážeme rozvinout
				náš potenciál k dokonalosti, což nám umožňuje navrhovat a realizovat inovativní
				řešení tam, kde jiní selhávají. Pro naše zákazníky navrhujeme a implementujeme
				podnikové informační systémy, webové aplikace a portály na míru.</p>
		</div>
	</li>
	<li>
		<a href="https://www.fg.cz" target="_blank"><img src="public/images/sponsor/fg-logo-b.png"
		                                                 alt="FG Forrest, a.s."/></a>

		<p>Forresti patří mezi českou špičku webového vývoje. Není třeba mnoho slov - naše <a
				href="https://www.fg.cz/cs/reference/" target="_blank">práce mluví sama za
			sebe</a>. Děláme vše naplno -
			<a href="https://www.youtube.com/watch?v=rWLDsEoAuWw" target="_blank">pracujeme</a>,
			<a href="https://www.fg.cz/cs/klienti/prague-international-marathon"
			   target="_blank">sportujeme</a>,
			<a href="https://www.fg.cz/cs/deje-se/ze-zivota-forrestu" target="_blank">bavíme
				se</a> a
			<a href="http://www.nfzz.cz/nemocnice/85-nemocnice-strakonice/217-podekovani-fg-forrest.html"
			   target="_blank">pomáháme</a>, kde se dá.</p>

		<p>Pokud i ty chceš běžet s Forresty, napiš nám - není to tak těžké, stačí dobré srdce a
			zdravý rozum.</p>
	</li>
	<li>
		<a href="https://www.jetbrains.com" target="_blank"><img src="public/images/sponsor/jetbrains.png" alt="JetBrains s.r.o." /></a>

		<div>
			<p>Jsme lídři na trhu s profesionálními vývojářskými nástroji, které pomáhají vývojářům
				po celém světě zvyšovat produktivitu a dosáhnout požadovaných cílů bez nutnosti
				ztrácet čas opakujícími se rutinními procesy.</p>

			<p>Nabízíme nástroje pro Javu, .NET, C++, Ruby, PHP, Python a týmovou spolupráci:
				IntelliJ&nbsp;IDEA, PhpStorm, ReSharper, WebStorm, CLion, AppCode, TeamCity, YouTrack,
				RubyMine, PyCharm, Upsource, dotTrace, dotMemory, dotCover, dotPeak.</p>
		</div>
	</li>
	<li>
		<a href="http://www.gopas.cz/"><img src="public/images/sponsor/gopas.png" alt="GOPAS" /></a>

		<div>
			<p><a href="http://www.gopas.cz/" target="_blank">Počítačová škola Gopas</a>
				je největším poskytovatelem školení v ČR a SR v oblasti IT
				vzdělávání a manažerských dovedností. Na trhu je GOPAS již 25 let a kromě
				rozsáhlého portfolia školení, vlastních (GOC) či autorizovaných kurzů, pořádá
				pro vývojáře a ITPro odborné konference, mezi které patří listopadové
				<a href="https://www.javadays.cz/cs/" target="_blank">JavaDays 2017</a>.</p>
			<p>GOPAS je autorizovaným poskytovatelem certifikačních zkoušek a testovacím
				střediskem firem Prometric, NCS Pearson (VUE), KRYTERION a BCS pro PRINCE2 a
				ITIL. Více info na <a href="http://www.gopas.cz/" target="_blank">gopas.cz</a>.</p>
		</div>
	</li>
	<li>
		<a href="https://www.zonky.cz/"><img src="public/images/sponsor/zonky.png" alt="Zonky" /></a>

		<div>
			<p>Zonky je online P2P služba, která která mění způsob půjčování peněz v Česku.
				Propojuje dvě skupiny lidí. Na jedné straně jsou ti, kteří si potřebují půjčit
				peníze a nechtějí platit obrovské úroky u bank. Na druhé straně jsou lidé, kteří
				své peníze rozumně úročit.</p>
			<p>Za nejdůležitější v Zonky považujeme naší vývojářskou kulturu postavenou na
				principu svobody a odpovědnosti "you build it you run it". Technologie jsou pro
				nás pouze a jenom prostředkem k tomu, abychom Zonkyho udělali nejlepší
				peer-to-peer službou na světě.</p>
		</div>
	</li>
	<li>
		<a href="https://www.alteryx.com"><img src="public/images/sponsor/alteryx.png" alt="Alteryx" /></a>

		<div>
			<p>Alteryx je leaderem v oblasti samoobslužné datové analytiky. Platforma Alteryx Analytics poskytuje
				analytikům unikátní možnost připravovat, kombinovat a analyzovat všechna jejich data pomocí opakovatelného
				procesu a následně nasazovat a sdílet výsledky analýz během hodin a nikoliv týdnů.</p>

			<p>Analytici milují Alteryx Analytics, protože jim umožňuje připojit se k datovým skladům, cloudovým aplikacím,
				excelovým tabulkám a dalším zdrojům, získávat z nich data, čistit je a napojovat na sebe bez ohledu
				na různorodost jejich původu. Poté mohou provádět prediktivní, statistickou či prostorovou analýzu
				pomocí téhož intuitivního uživatelského rozhraní, bez jakéhokoliv kódu.
				Tisíce analytiků po celém světě používají Alteryx každý den. Navštivte www.alteryx.com.</p>
		</div>
	</li>
	<li>
		<a href="https://www.openwise.cz"><img src="public/images/sponsor/openwise.png" alt="Alteryx" /></a>

		<div>
			<p>Společnost OpenWise realizuje zákaznické projekty v oblasti integrací,
				implementuje software na míru a vyvijí své vlastní produkty - open-source
				integrační platformu <a href="http://www.openhub.cz">OpenHub</a> nebo chytrý produktový
				katalog WisePorter, který umožňuje do prodejních aplikací snadno přidat i velmi
				komplexní chování produktů.</p>
		</div>
	</li>

</ul>
<script type="text/javascript">
	//<![CDATA[
	stirSponsors($("#sponsors"));
	//]]>
</script>