---
title: jOpenSpace - ročník 2017
year: 2017
---

<div id="year2017" class="galleryGroup">
   <div class="in">

      <!--
                TWITTER WIDGET FOR THE NEXT YEAR
                <p>Dění na letošním jOpenSpace můžete sledovat pomocí Twitter timeline:</p>
                    <a class="twitter-timeline" width="940" href="https://twitter.com/hashtag/jos2014" data-widget-id="520308802751455232" lang="cz" data-chrome="transparent noborders">Tweety (#jos2014)</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
             -->

      <h4 style="text-align: center">Fotogalerie {{title}}</h4>
      <ul class="gallery clr">
         <li><a href="../public/images/gallery/2017/detail/20171013_180258.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171013_180258.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171013_194804.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171013_194804.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171014_081119.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171014_081119.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171014_092738.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171014_092738.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171014_103405.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171014_103405.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171014_105556.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171014_105556.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/20171014_165248.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/20171014_165248.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020559.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020559.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020564.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020564.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020573.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020573.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020574.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020574.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020576.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020576.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020577.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020577.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020583.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020583.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020589.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020589.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2017/detail/P1020594.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2017/thumbnail/P1020594.jpg" alt="" /></a></li>
      </ul>
      <p style="text-align: center"><a href="https://photos.app.goo.gl/vR0WsitydkyAwwnt1" target="_blank">Kompletní fotogalerie z akce</a></p>
      <h4 style="text-align: center">Zápisky z konference</h4>
      <div style="text-align: center;">
         <a href="/data/2017/notes/notes.mm">MindMap</a>,
         <a href="/data/2017/notes/notes.pdf">jako PDF</a>,
         <a href="/data/2017/notes/notes.html">jako HTML</a>
      </div>
      <h4 style="text-align: center; margin-top: 1em;">Články a ohlasy</h4>
      <div style="text-align: center;">
         <p><a href="https://blog.zvestov.cz/software%20development/2017/10/24/jopenspace-2017.html">Reportáž Luboše Račanského</a></p>
         <p><a href="https://www.zdrojak.cz/zpravicky/reportaz-z-jopenspace-2017/">Reportáž Pavla Jetenského na zdroják.cz</a></p>
         <p><a href="https://dagblog.cz/jopenspace-2017-410b02359716">Reportáž Romana Dagiho Pichlíka</a></p>
         <p><a href="https://blog.prskavec.net/blog/2017/10/jopenspace-2017-a-moje-p%C5%99edn%C3%A1%C5%A1ka-o-jamstacku/">Krátké shrnutí ne-konference od Ládi Prskavce</a></p>
         <p><a href="http://calavera.info/v3/blog/2017/11/17/jopenspace.html">Články Františka Řezáče (Calavera.info)</a>,
            <a href="http://calavera.info/v3/blog/2017/11/17/neuralink.html">první</a> a druhý</p>
      </div>

      <ul>
         {% for member in site.data.Prednasky_2017 %}
         <article>
            <div class="in">
               <p class="author">{{ member.Prednasejici }}</p>
               <h3>{{ member.Nazev }}</h3>
               {% if member.Anotace != nil && member.Anotace != "" %}<p class="articleContent">{{ member.Anotace }}</p>{% endif %}
               {% if member.Bio != nil && member.Bio != "" %}<p class="authorInfo"><a href="{{ member.Bio }}">{{ member.Bio }}</a></p>{% endif %}
               {% if member.YouTube != nil && member.YouTube != "" %}<iframe width="560" height="315" src="{{ member.YouTube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>{% endif %}
            </div>
            <ul class="clr articleMedia">
               {% if member.Url != nil && member.Url != "" %}<li><a href="{{ member.Url }}" target="_blank">Prezentace</a></li>{% endif %}
               {% if member.YouTube != nil && member.YouTube != "" %}<li class="videocast"><a href="{{ member.YouTube }}" target="_blank">Video</a></li>{% endif %}
            </ul>
         </article>
         {% endfor %}
      </ul>

   </div>




</div>
