---
title: jOpenSpace - ročník 2019
year: 2019
---

<div id="year2019" class="galleryGroup">
   <div class="in">
      <h4 style="text-align: center">Mediální partneři {{title}}</h4>
      <p style="text-align: center">
            <a href="https://kafemlejnek.tv" target="_blank"><img src="public/images/sponsor/kafemlejnektv.png" alt="Kafemlejnek.TV"/></a>
            <div>Zastavte se na kávu s Honzou Novotným a Petrem Ferschmannem a nic vás při tvorbě software nesemele. Od vývojařů přes designery, architekty až po zakladatele společností. Za kamerou stojí Tomáš Hodr.</div>
      </p>
      <p style="text-align: center">
            <a href="https://soundcloud.com/czpodcast-1" target="_blank"><h5>CzPodcast</h5></a>
            <div>Udržte se na úzké a ostré hraně IT novinek s Romanem Pichlíkem a Jiřím Fabiánem.</div>
      </p>
      <!--
         <iframe width="560" height="315" src="https://www.youtube.com/embed/tM4ec5ptl0A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      -->

      <h4 style="text-align: center">Fotogalerie {{title}}</h4>
      <ul class="gallery clr">
	      <!--
         <li><a href="../public/images/gallery/2018/detail/P1080372.JPG" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/P1080372.JPG" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/DSC_0013.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/DSC_0013.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/DSC_0016.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/DSC_0016.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/DSC_0021.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/DSC_0021.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/DSC_0029.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/DSC_0029.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/DSC_0060.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/DSC_0060.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2018/detail/IMG_0349.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2018/thumbnail/IMG_0349.jpg" alt="" /></a></li>
	      -->
      </ul>
      <!--
      <p style="text-align: center"><a href="https://photos.app.goo.gl/dCeSD4U1b75p6xfa8" target="_blank">Kompletní fotogalerie z akce</a></p>
      <h4 style="text-align: center">Zápisky z konference</h4>
      <div style="text-align: center;">
         <a href="/data/2018/notes/jOpenSpaceZapisky2018.mm">MindMap</a>,
         <a href="/data/2018/notes/jOpenSpaceZapisky2018.pdf">jako PDF</a>,
         <a href="/data/2018/notes/html/jOpenSpaceZapisky2018.html">jako HTML</a>
      </div>
      <h4 style="text-align: center; margin-top: 1em;">Články a ohlasy</h4>
      <div style="text-align: center;">
         <p><a href="https://medium.com/agorapulse-stories/jopenspace-2018-notes-5f6716aa053e">Reportáž Vládi Oraného (@musketyr)</a></p>
      </div>

      <ul>
         {% for member in site.data.Prednasky_2018 %}
         <article>
            <div class="in">
               <p class="author">{{ member.Prednasejici }}</p>
               <h3>{{ member.Nazev }}</h3>
               {% if member.Anotace != nil && member.Anotace != "" %}<p class="articleContent">{{ member.Anotace }}</p>{% endif %}
               {% if member.Bio != nil && member.Bio != "" %}<p class="authorInfo"><a href="{{ member.Bio }}">{{ member.Bio }}</a></p>{% endif %}
            </div>
            <ul class="clr articleMedia">
               {% if member.Url != nil && member.Url != "" %}<li><a href="{{ member.Url }}" target="_blank">Prezentace</a></li>{% endif %}
               {% if member.YouTube != nil && member.YouTube != "" %}<li class="videocast"><a href="{{ member.YouTube }}" target="_blank">Video</a></li>{% endif %}
            </ul>
         </article>
         {% endfor %}
      </ul>
	-->
   </div>




</div>
