---
title: jOpenSpace - ročník 2023
year: 2023
---

<div id="year2023" class="galleryGroup">
   <div class="in">
      <h4 style="text-align: center">Fotogalerie {{title}}</h4>
      <ul class="gallery clr">
         <li><a href="../public/images/gallery/2023/detail/ranni-vybeh.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/ranni-vybeh.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/bezci.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/bezci.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/priprava-c64.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/priprava-c64.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/fixing-in-production.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/fixing-in-production.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/publikum.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/publikum.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/prednasky.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/prednasky.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/pult.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/pult.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/z-pohledu-recnika.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/z-pohledu-recnika.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/kouzelnik-v-akci.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/kouzelnik-v-akci.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/baby-friendly.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/baby-friendly.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/vyherci.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/vyherci.jpg" alt="" /></a></li>
         <li><a href="../public/images/gallery/2023/detail/skupinovka.jpg" class="highslide" rel="highslide"><img src="../public/images/gallery/2023/thumbnail/skupinovka.jpg" alt="" /></a></li>
      </ul>
      <p style="text-align: center"><a href="https://photos.app.goo.gl/NL7rFeWh7M86FYFq7" target="_blank">Kompletní fotogalerie z akce</a></p>
      <h4 style="text-align: center">Zápisky z konference</h4>
      <div style="text-align: center;">
         <a href="https://docs.google.com/document/d/1wTlVyw9Ku1BdopBC8iFxcW_6La9ZsBkoV8cfN6u5rY8/edit?usp=sharing">Google docs</a>,
      </div>

      <ul>
         {% for member in site.data.Prednasky_2023 %}
         <article>
            <div class="in">
               <p class="author">{{ member.Prednasejici }}</p>
               <h3>{{ member.Nazev }}</h3>
               {% if member.Anotace != nil && member.Anotace != "" %}<div class="articleContent" style="padding-top: 2em;">{{ member.Anotace }}</div>{% endif %}
               {% if member.Bio != nil && member.Bio != "" %}<p class="authorInfo"><a href="{{ member.Bio }}">{{ member.Bio }}</a></p>{% endif %}
            </div>
            <ul class="clr articleMedia">
               {% if member.Url != nil && member.Url != "" %}<li><a href="{{ member.Url }}" target="_blank">Web</a></li>{% endif %}
               {% if member.YouTube != nil && member.YouTube != "" %}<li class="videocast"><a href="{{ member.YouTube }}" target="_blank">Video</a></li>{% endif %}
            </ul>
         </article>
         {% endfor %}
      </ul>
   </div>

</div>
