---
title: jOpenSpace - ročník 2026
year: 2026
---

<div id="year2026" class="galleryGroup">
   <div class="in">
      <h4>Fotogalerie {{title}}</h4>
      <p style="text-align: center"><a href="https://photos.app.goo.gl/fBpFE3cVj3n7vFGf9" target="_blank">Kompletní fotogalerie z akce</a></p>
      <p style="text-align: center">Záznamy přednášek připravujeme a brzy je zde zveřejníme.</p>

   </div>

   {% for member in site.data.Prednasky_2026 %}
   <article>
      <div class="in">
         <p class="author">{{ member.Prednasejici }}</p>
         <h3>{{ member.Nazev | remove_first: "🎤" | strip }}</h3>
         {% if member.Anotace != nil and member.Anotace != "" %}<div class="articleContent">{{ member.Anotace }}</div>{% endif %}
         {% if member.Bio != nil and member.Bio != "" %}<p class="authorInfo"><a href="{{ member.Bio }}">{{ member.Bio }}</a></p>{% endif %}
      </div>
      <ul class="clr articleMedia">
         {% if member.Url != nil and member.Url != "" %}<li class="web"><a href="{{ member.Url }}" target="_blank">Web</a></li>{% endif %}
         {% if member.YouTube != nil and member.YouTube != "" %}<li class="videocast"><a href="{{ member.YouTube }}" target="_blank">Video</a></li>{% endif %}
      </ul>
   </article>
   {% endfor %}

</div>
