---
title: jOpenSpace - ročník 2026
year: 2026
---

<div id="year2026" class="galleryGroup">
   <div class="in">
      <h4>Fotogalerie ročníku 2026</h4>
      <ul class="gallery clr">
         <li><a href="../public/images/gallery/2026/detail/01-predstaveni-ucastniku.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/01-predstaveni-ucastniku.jpg" alt="Pět účastníků sedí v půlkruhu a povídá si před ostatními." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/02-prednaska-v-sale.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/02-prednaska-v-sale.jpg" alt="Pohled přes publikum na přednášejícího a promítané snímky v konferenčním sále." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/03-ucastnici-v-sale.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/03-ucastnici-v-sale.jpg" alt="Účastníci sedí u stolů s notebooky v prosvětleném konferenčním sále." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/04-diskuse-v-kruhu.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/04-diskuse-v-kruhu.jpg" alt="Šest mužů sedí v kruhu na židlích a živě spolu diskutuje." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/05-obcerstveni-burgery.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/05-obcerstveni-burgery.jpg" alt="Na černém podnosu jsou připravené malé burgery s lesklými houskami." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/06-vecere-pecene-maso.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/06-vecere-pecene-maso.jpg" alt="Pečené maso na stojanu u večeře, vedle něj leží nůž na porcování." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/07-hrani-u-konzole.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/07-hrani-u-konzole.jpg" alt="Dva účastníci s ovladači hrají proti sobě bojovou hru na monitoru." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/08-nocni-telc-nad-rybnikem.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/08-nocni-telc-nad-rybnikem.jpg" alt="Osvětlené věže a domy Telče se v noci odrážejí v rybníku." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/09-nocni-namesti-v-telci.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/09-nocni-namesti-v-telci.jpg" alt="Noční telčské náměstí s osvětlenými historickými domy a otevřeným autem v popředí." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/10-vecerni-telc.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/10-vecerni-telc.jpg" alt="Věže Telče vystupují za střechami domů proti oranžové večerní obloze." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/11-ranni-bezci.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/11-ranni-bezci.jpg" alt="Pět běžců pózuje společně mezi stromy na okraji pole." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/12-posezeni-na-terase.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/12-posezeni-na-terase.jpg" alt="Dva účastníci odpočívají u stolku na terase; jeden se dívá do telefonu." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/13-predani-oceneni.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/13-predani-oceneni.jpg" alt="Účastníci si na dvoře potřásají rukama při předávání ocenění, ostatní přihlížejí." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/14-gratulace.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/14-gratulace.jpg" alt="Dva muži si potřásají rukama na zahradě při gratulaci k ocenění." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/15-oceneni-ucastnici.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/15-oceneni-ucastnici.jpg" alt="Tři ocenění účastníci stojí s listy papíru na trávníku před hotelem." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/16-spolecna-fotografie.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/16-spolecna-fotografie.jpg" alt="Účastníci ročníku 2026 stojí ve společné řadě na travnatém dvoře hotelu." /></a></li>
         <li><a href="../public/images/gallery/2026/detail/17-spolecna-fotografie-z-dronu.jpg" class="highslide" rel="highslide"><img loading="lazy" decoding="async" width="200" height="113" src="../public/images/gallery/2026/thumbnail/17-spolecna-fotografie-z-dronu.jpg" alt="Pohled z dronu na skupinu účastníků v hotelovém dvoře obklopeném budovami." /></a></li>
      </ul>
      <p style="text-align: center"><a href="https://photos.app.goo.gl/fBpFE3cVj3n7vFGf9" target="_blank">Kompletní fotogalerie z akce</a></p>
      <p style="text-align: center">Záznamy přednášek připravujeme a brzy je zde zveřejníme.</p>

   </div>

   {% for member in site.data.Prednasky_2026 %}
   <article>
      <div class="in">
         <p class="author">{{ member.Prednasejici }}</p>
         <h3>{{ member.Nazev | remove_first: "🎤" | strip }}</h3>
         {% if member.Anotace != nil and member.Anotace != "" %}<div class="articleContent">{{ member.Anotace }}</div>{% endif %}
         {% if member.Bio != nil and member.Bio != "" %}<p class="authorInfo"><a href="{{ member.Bio }}">{{ member.Bio }}</a></p>{% endif %}
      </div>
      <ul class="clr articleMedia">
         {% if member.Url != nil and member.Url != "" %}<li class="web"><a href="{{ member.Url }}" target="_blank">Web</a></li>{% endif %}
         {% if member.YouTube != nil and member.YouTube != "" %}<li class="videocast"><a href="{{ member.YouTube }}" target="_blank">Video</a></li>{% endif %}
      </ul>
   </article>
   {% endfor %}

</div>
