<!DOCTYPE html>
<html lang="cs">

  {% include head.html %}

  <body>

    <a class="skipLink" href="#main">Přejít na obsah</a>

    {% include header.html %}

    <main id="main">

      <div class="vw">
        <div id="preContent">
          <h2>proběhla <span class="nowrap">2. – 4. října 2026</span></h2>
          <p>v&nbsp;<a href="https://www.hotel-anton.cz/" target="_blank">hotelu Antoň</a> v&nbsp;Telči &ndash; příští ne-konference se uskuteční <strong><span class="nowrap">1. – 3. října 2027</span></strong></p>
        </div>

        <div id="topContent">

          <div class="twoCols clr">
            <div class="fl">
              {% include about.html %}
            </div>
            <div class="fr">
              {% include partners.html %}
            </div>
          </div>
        </div>

      </div>

      <div id="mapCanvas"></div>

      {% include archive.html class="bottomContent" %}

    </main>

    {% include footer.html %}

  </body>
</html>
