<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section>

      <div class="vw">
        <div id="preContent">
          <h2>se uskuteční 5. - 7. října 2018</h2>
          <p>v <a href="https://www.hotelluna.cz/" target="_blank">hotelu Luna</a> v Ledči n. Sázavou</p>
        </div>

        <div id="topContent">

          <div class="twoCols clr">
            <div class="fl">
              {% include about.html %}
            </div>
            <div class="fr">
              {% include partners.html %}
            </div>
          </div>
        </div>

      </div>

      <div id="mapCanvas"></div>

      {% include archive.html class="bottomContent" %}

    </section>

    {% include footer.html %}

  </body>
</html>
